.post-type-archive-casos{
    #site-navbar{
        filter: invert(1);
    }
}
.casos{
    min-height: 100vh;
    background: fn-url('estrellas.png')fixed top / cover no-repeat #EAEAEA;
    color: #000;
    .titulo{
        margin-top: 100px;
        text-transform: uppercase;
        text-decoration: underline;
    }
    .cabecera{
        margin: 100px auto auto auto;
        img{
            max-width: 870px;
        }
        h1{
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 5px;
        }
    }
    .columnas{
        display: flex;
        flex-flow: wrap;
        .caso{
            img{
                height: auto;
                object-fit: contain;
                object-position: top;
                z-index: 2;
            }
            .detalles-caso{
                padding: 30px 10px 10px;
                margin: -30px auto auto;
                background: #fff;
                transform-origin: bottom;
                p{
                    margin: 0;
                }
            }
            .muestra-detalles{
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: .4rem;
                cursor: pointer;
            }
            i{
                transition: .3s ease all;
                letter-spacing: normal;
            }
            .rotar{
                transform: rotate(180deg);
                transition: .3s ease all;
            }
        }
        .nombre-caso, .servicio-caso{
            color: rgba($color: #000000, $alpha: .47);
            text-transform: uppercase;
        }
        .nombre-caso{
            font-size: 1.5em;
        }
        .servicio-caso{
            line-height: 1em;
        }
    }
    @include MQ(M){
        .columnas{
            .cabecera{
                margin: 1rem auto 5rem;
            }
            .caso{
                &:nth-child(even){
                    margin-bottom: 40px;
                    margin-top: -40px;
                }
                img{
                    height: auto;
                    width: 100%;
                }
                .detalles-caso{
                    margin: -45px auto auto;
                    text-align: start;
                }
            }
        }
    }
}