.btn-rocket{
    background: fn-url('fondo-btn.jpg');
    background-position: left;
    background-size: 200% 100%;
    color: #ffffff;
    border: none;
    border-radius: 3em;
    padding: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
    outline: none !important;
    transition: .3s ease all;
    &:active, :focus, :visited {
        outline: none !important;
        border: none !important;
        border-style: none !important;
        text-decoration: none !important;
    }
}