.btn-rocket{
    background: fn-url('fondo-btn.jpg');
    background-position: right;
    background-size: 200% 100%;
    color: #ffffff !important;
    border: none;
    border-radius: 3em;
    padding: 10px;
    cursor: pointer;
    outline: none;
    text-decoration: none !important;
    outline: none !important;
    transition: .3s ease all;
    &:active, :focus, :visited {
        outline: none !important;
        border: none !important;
        border-style: none !important;
        text-decoration: none !important;
    }
    &:hover{
        color: #ffffff;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #2d2b8b inset;
  box-shadow: 0 0 0px 1000px #2d2b8b inset;
  background: transparent !important;
  transition: background-color 5000s ease-in-out 0s;

}