$path: '../img/';

@function fn-url($img){
  @return url($path + $img);
}

html{
  scroll-behavior: smooth;
}

.destacar{
  border: 1px solid red !important;
  box-sizing: border-box !important;
}

.no-scroll{
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.esconde-menu{
    margin-right: -100% !important;
    left: 100vw !important;
    transition: .3s ease all;
}

.vh-100{
    height: 100vh;
    min-height: 500px;
}