body {
    font-family: $fuente-primaria;
    letter-spacing: .1rem;
    color: #fff;
    background: $color-morado;

    .subtitulo {
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
    }

    .btn-rocket {
        text-transform: uppercase;
        font-weight: bold;
        transition: .8s ease all;

        &:hover {
            background-position: left;
            transition: .3s ease all;
        }

        p {
            margin: 0 0 0 auto;
        }

        i {
            margin: 0 auto 0 10px;
            line-height: inherit;
        }
    }

    .owl-theme {

        .owl-dots .owl-dot {
            outline: none;
        }

        .owl-nav {
            button {
                outline: none;
            }
        }
    }

    .bg-morado {
        background: $color-morado;
    }

    .bg-primario {
        background: $color-primario;
    }

    .btn-ver-mas {
        background: fn-url('fondo-btn.jpg');
        background-position: right;
        color: #fff;
        border-radius: 33.333rem;
        padding: 1rem 3rem;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: .2rem;
        margin: 0 auto auto 0;
        transition: .3s ease all;

        &:hover {
            text-decoration: none;
            background-position: left;
        }
    }
}

.index {
    overflow-x: hidden;

    // background: fn-url('bg-sitio.png')fixed top / cover no-repeat;
    .intro {
        background: url('../img/logo-animado.gif')center center/cover no-repeat, fn-url('estrellas.png')fixed top / cover no-repeat;
        background-blend-mode: hard-light;

        @media only screen and (max-width: 600px) {
            background: url('../img/RM-GIF-MOB.gif')center center/cover no-repeat, fn-url('estrellas.png')fixed top / cover no-repeat;
            
        }
    }

    .titulo {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .1rem;
    }

    #servicios {
        min-height: 100vh;
        background: $color-morado;

        .owl-stage-outer {
            overflow: visible;

            .owl-stage {
                .owl-item {
                    transition: .6s ease all;
                }

                .active {
                    transform: scale(1.2);
                    box-shadow: rgba($color: #000000, $alpha: .6) 0px 0px 10px 0px;
                    z-index: 100;
                    border-radius: 15px;

                    .card-servicios {
                        overflow: visible;

                        img {
                            max-width: 1000px;
                            object-fit: contain;
                            border-radius: 10px 10px 0 0;
                            position: relative;
                        }
                    }
                }
            }
        }

        .owl-dots {
            position: absolute;
            top: -40px;
            margin: 0 auto;
            width: 100%;
        }

        .titulo {
            font-weight: bold;
            font-size: 3em;
            letter-spacing: .1rem;
            padding: 0 10px;
            line-height: 3rem;
            margin: 0 auto 10px auto;

            @media only screen and (max-width: 600px) {
                font-size: 1.5em;
            }
        }

        .card-servicios {
            background: $color-morado;
            border-radius: 15px;
            overflow-y: hidden;
            padding: 0 0 15px 0;

            img {
                height: 200px;
                object-fit: cover;
                background: #fff;
                transition: .3s ease all;
            }

            h3,
            p {
                padding: 0 20px;
                text-align: center;
                @media only screen and (max-width: 600px) {
                    font-size: 0.7em;
                    padding: 0 10px;
                }
            }

            .titulo {
                font-size: 1em;
                font-weight: bolder;
                letter-spacing: .1rem;
                line-height: normal;

                @media only screen and (max-width: 600px) {
                    font-size: 0.7em;
                }
            }

            p {
                font-weight: lighter;
                letter-spacing: .1rem;
                line-height: normal;
            }

            a {
                background: $blanco;
                color: $color-morado;
                width: 50%;
                margin: auto;
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        @include MQ(M) {
            .owl-stage-outer {
                overflow: hidden;
                height: 100% !important;

                .owl-stage {
                    height: 100%;

                    .owl-item {
                        height: 100%;
                    }

                    .active {
                        transform: scale(1);
                        box-shadow: inherit;
                        z-index: inherit;
                        border-radius: inherit;
                    }
                }
            }

            .owl-dots {
                top: 50%;
                transform: rotate(90deg);
                right: -46%;
            }

            .imagenes {
                img {
                    object-fit: contain;
                    height: 540px;
                }

                .recibe-imagen-1 {
                    width: 28%;
                }

                .recibe-imagen-2 {
                    width: 90%;
                    margin: auto 0 auto auto;

                    @include MQ(M) {
                        width: 68%;
                    }
                }
            }

            .numeros-servicios {
                a {
                    color: #fff;
                    text-decoration: none;

                    .titulo {
                        font-size: 1rem;
                        line-height: normal;
                        text-align: left;
                    }
                }

                .servicio {
                    opacity: 1;
                    transition: .3s ease all;
                    margin: 10px auto;

                    .numero {
                        border: 1px solid #ffffff;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        transition: .3s ease-in all;
                        padding: 4px;
                        box-sizing: border-box;
                        vertical-align: center;
                        font-size: .7rem;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                    }

                    .titulo-numero {
                        text-transform: uppercase;
                        line-height: normal;
                        font-size: .8rem;
                        letter-spacing: 0.2em;
                    }

                    &:hover {
                        opacity: 1;
                        cursor: pointer;
                        filter: blur(0px);

                        .numero {
                            color: $color-primario;
                            background: #ffffff !important;
                        }

                        .titulo-numero {
                            font-weight: 700;
                        }
                    }

                    &.active {
                        opacity: 1;
                        filter: blur(0px);

                        .numero {
                            color: $color-primario;
                            font-weight: 800;
                            font-size: .8rem;
                            background: #ffffff !important;
                            box-shadow: rgba($color: #000000, $alpha: .6) 0px 10px 10px -5px;
                        }

                        .titulo-numero {
                            font-weight: 700;
                        }
                    }
                }
            }

            .detalles-servicios {
                .servicio {
                    height: 100%;
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 100%;
                        max-height: 600px;
                        object-fit: contain;
                    }

                    .textos {
                        .titulo {
                            width: 100%;
                            text-align: left;
                            font-size: 1.4rem;
                            text-transform: uppercase;
                            font-weight: bolder;
                            color: inherit;
                            text-decoration: none;
                            padding: 0px;
                            line-height: 1.5rem;
                            letter-spacing: 0.2em;
                            margin: 0;
                        }

                        p {
                            margin: 20px auto;
                            font-weight: lighter;

                            strong {
                                font-weight: bold;
                            }
                        }
                    }
                }

                .owl-dots {
                    .owl-dot {
                        span {
                            background: transparent;
                            border: 1px solid #fff;
                            box-sizing: border-box;
                            transition: .8s ease all;
                            transition-delay: .3s;
                        }
                    }

                    & .active {
                        span {
                            transition: .8s ease all;
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    #casos-de-exito {
        background: #ffffff;
        color: #000;
        pointer-events: none;
        @media only screen and (max-width: 600px) {
            pointer-events: initial;
        }

        .titulo-casos {
            p {
                width: 100%;
                margin: 0;
                font-size: 3em;
                font-weight: 800;
                text-transform: uppercase;
                text-align: center;
                letter-spacing: normal;
                line-height: 1em;

                @media only screen and (max-width: 600px) {
                    font-size: 2em;
                }

                @include MQ(M) {
                    text-align: left;
                    width: 60%;
                    margin: auto auto auto 0;
                }
            }
        }

        .computador {
            background: fn-url('mac-pro.png')center center / 90% no-repeat;
            height: calc(100vw / 1.2);

            .pantalla {
                position: absolute;
                top: calc(110vw / 10);
                height: calc(91.5vw / 2);
                width: 79vw;

                .owl-item {
                    height: calc(92vw / 2);
                }

                .owl-nav {
                    position: absolute;
                    pointer-events: all;
                    top: 40%;
                    left: -2.3%;
                    width: 100%;

                    @media only screen and (max-width: 600px) {
                        //top: 37%;
                        //left: -0.3%;
                        display:none;
                    }

                    button {
                        height: 20px;
                        width: 20px;
                        color: #000;
                        border-radius: 0;
                        padding: 5px;
                        box-sizing: border-box;
                        position: absolute;

                        &:hover {
                            background-color: transparent;
                        }

                        span {
                            text-align: center;
                            line-height: .1rem;
                            font-size: 4.7rem;

                            &:hover {
                                color: aqua;
                            }
                        }

                        
                        /* CASOS DE ÉXITO */
                        /* Estilo de las flechas owl carrusel */
                        $ease: cubic-bezier(.2,1,.3,1);
                        svg {
                            width: 45px;
                            height: auto;
                            cursor: pointer;
                            overflow: visible;

                            @media only screen and (max-width: 600px) {
                                width: 25px;
                            }

                            polygon,
                            path {
                                transition: all 0.5s $ease;
                            }

                            &:hover polygon,
                            &:hover path {
                                transition: all 1s $ease;
                                fill: #00ffff;
                            }

                            &:hover .arrow {
                                animation: arrow-anim 2.5s $ease infinite;
                            }

                            &:hover .arrow-fixed {
                                animation: arrow-fixed-anim 2.5s $ease infinite;
                            }
                        }

                        @keyframes arrow-anim {
                            0% {
                                opacity: 1;
                                transform: translateX(0);
                            }

                            5% {
                                transform: translateX(-0.1rem);
                            }

                            100% {
                                transform: translateX(1rem);
                                opacity: 0;
                            }
                        }

                        @keyframes arrow-fixed-anim {
                            5% {
                                opacity: 0;
                            }

                            20% {
                                opacity: 0.4;
                            }

                            100% {
                                opacity: 1;
                            }
                        }

                    }

                    .owl-prev {
                        left: -13%;
                        @media only screen and (max-width: 600px) {
                            left: -15%; 
                        }
                    }

                    .owl-next {
                        right: -13%;
                        @media only screen and (max-width: 600px) {
                            right: -14%; 
                        }
                    }
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }

            @include MQ(M) {
                height: calc(100vw / 2.6);

                .pantalla {
                    position: absolute;
                    top: calc(38vw / 10.1);
                    height: calc(48.5vw / 2.1);
                    width: 38.5vw;

                    .owl-item {
                        height: calc(45.9vw / 2);
                    }
                }
            }
        }

        .owl-detalle-caso {
            .detalles-casos {
                .nombre-caso {
                    font-weight: bold;
                }

                .servicio-caso {
                    width: 100%;
                    margin: 5px auto auto auto;
                    line-height: 1.3rem;
                    text-transform: uppercase;
                }

                a {
                    padding: 0;
                    margin: 10px auto auto;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: #000;
                    pointer-events: all;
                }
            }
        }

        .owl-detalle-texto {
            pointer-events: none;

            @media only screen and (max-width: 600px) {
                pointer-events: auto; 
            }

            .contenedor-detalle {
                text-align: center;

                p {
                    margin: 10px auto 40px;
                }

                a {
                    pointer-events: all;
                }
            }
        }
    }

    #clientes {
        background: $color-morado;

        /*  pointer-events: none;*/
        .titulo {
            color: #ffffff;
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 80px;
        }

        .owl-theme {

                    .owl-item {
                        width: 18%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0.5em;
                        padding: 0.5em;

                        @media only screen and (max-width: 600px) {
                            width: 27%;
                        }

                        &:hover {
                            &:after {
                                content: "";
                                height: 70px;
                                width: 70px;
                                background: fn-url('fondo-btn.jpg');
                                background-position: right;
                                border-radius: 50%;
                                position: absolute;
                                transition: all 0.10s ease .6s;
                                -webkit-transition: all 0.10s ease .6s;
                                z-index: 1;
                                animation-name: scale;
                                animation-duration: .3s;
                            }

                        }

                        @keyframes scale {
                            from {
                                transform: scale(0.3, 0.3);
                            }

                            to {
                                transform: scale(.5, .5);

                            }
                        }


                    }


            

            @include MQ(M) {
                margin: 100px auto;
            }

            margin: 20px auto;

            img {
                object-fit: contain;
                transition: .3s all ease;
                position: relative;
                z-index: 2;
                &:hover {
                    transform: scale(1.2, 1.2) !important;

                }
            }
        }
    }

    #contacto {
        background: $color-morado;

        .titulo {
            color: #ffffff;
            text-transform: uppercase;
        }

        .llamanos,
        .escribenos {
            .subtitulo {
                font-size: 1.2em;
                font-weight: bold;
            }

            a {
                color: #ffffff;
                text-decoration: underline;
            }
        }

        #formulario-contacto {
            box-sizing: border-box;

            .wpcf7-form-control-wrap {

                input,
                textarea {
                    &:focus {
                        background-color: #fff !important;
                    }
                }
            }

            .wpcf7 {
                width: 100%;

                input,
                textarea {
                    background: transparent;
                    border-radius: 0;
                    border: none;
                    border-bottom: 1px solid;
                    border-image-source: linear-gradient(90deg, rgba(0, 236, 255, 1) 0%, rgba(255, 252, 0, 1) 42%, rgba(255, 0, 0, 1) 100%);
                    border-image-slice: 1;
                    margin: 20px auto auto auto;
                    max-width: 100%;
                    padding: 5px 10px;
                    resize: none;
                    color: #000;
                    transition: .3s ease all;
                    &::placeholder {
                        color: #fff;
                        opacity: .6;
                        position: absolute;
                    }

                    &:focus {
                        background: rgba($color-morado, .4);
                        outline: none;
                        box-shadow: none;
                        background: rgba(#fff, .1);

                        ::placeholder {
                            position: absolute;
                            top: -30px;
                        }
                    }

                    &:hover {
                        background: rgba(#fff, .1);
                    }
                }

                p,
                span {
                    margin: 0;
                    text-align: center;
                }

                textarea {
                    height: 35px;

                    &:focus {
                        height: 200px;
                    }
                }

                form {
                    .wpcf7-response-output {
                        border: 5px solid $color-primario;
                        background: rgba($color-morado, .3);
                        box-shadow: rgba(#000, .8) 0px 5px 15px -5px;
                        color: #fff;
                        padding: 10px;
                        box-sizing: border-box;
                        text-align: center;
                        font-size: 1em;
                    }

                    .wpcf7-not-valid-tip {
                        color: #fff;
                    }

                    .btn {
                        background: fn-url('fondo-btn.jpg');
                        background-position: right;
                        color: #fff;
                        width: 15%;
                        min-width: 180px;
                        border: none;
                        border-radius: 33.333rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        transition: .3s ease all;

                        &:hover {
                            text-decoration: none;
                            background-position: left;
                        }
                    }
                }
            }

            @include MQ(M) {
                padding: 0;

                .formulario-contacto {
                    display: flex;
                    flex-flow: wrap;
                    justify-content: space-between;

                    p,
                    span {
                        width: 100%;
                    }

                    .wpcf7-not-valid-tip {
                        width: 100%;
                    }

                    p {
                        &:first-of-type {
                            display: none;
                        }
                    }

                }
            }
        }
    }
}

@keyframes levantar {
    0% {
        transform: scale(1) rotateX(60deg);
    }

    100% {
        transform: scale(1.04) rotateX(0deg);
    }
}