#site-navbar{
    position: absolute;
    .container-fluid{
        .navbar-brand{
            img{
                height: 80px;
            }
        }
    }
}

.accion-menu{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
    cursor: pointer;
    font-size: 3em !important;
    z-index: 2;
}

.menu-custom{
    z-index: 10;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto;
    left: 0;
    margin-right: 0px;
    position: fixed;
    background: $primario-menu;
    transition: .3s ease all;
    display: flex;
    flex-flow: column-reverse;
    @include MQ(L){
        flex-flow:wrap;
    }
    p,a,ul,li{
        color: #ffffff;
        list-style: none;
        margin: 0;
        text-decoration: none;
    }
    .contacto-menu{
        background: fn-url('fondo-menu-original.png')top left / cover no-repeat;
        background-blend-mode: darken;
        height: auto;
        .seccion{
            &-datos{
                font-size: 1.5em;
                .titulo-contacto{
                    filter: opacity(60%);
                    font-size: .8em;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-weight: bolder;
                }
                .datos, .mail-contacto{
                    filter: opacity(60%);
                }
            }
        }
    }
    .opciones-menu{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 2em;
        text-align: center;
        padding: 60px 0;
        @include MQ (L){
            font-size: 3em;
            text-align: left;
            padding: 0 0 0 20%;
        }
        a{
            width: 100%;
            transition: .3s ease all;
            padding: 0 10px;
            box-sizing: border-box;
            &:hover{
                background: rgba($color: #ffffff, $alpha: .3);
            }
        }
    }
}