.single-servicios{
    .servicios{
        display: flex;
        flex-flow: wrap;
        padding: 90px 0 30px;
        box-sizing: border-box;
        .contenedor-menu{
            width: 30vw;
            padding: 15px;
            box-sizing: border-box;
            .menu{
                position: sticky;
                top: 0;
                z-index: 10;
                display: none;
            }
        }
        .contenedor-servicios{
            left: 0;
            position: relative;
            width: 100vw;
            left: 0;
            margin-left: -30%;
            box-sizing: border-box;
            section{
                display: flex;
                flex-flow: wrap;
                justify-content: flex-end;
                .contenido-seccion{
                    width: 90vw;
                    margin: auto;
                    @include MQ(M){
                        width: 70vw;
                        margin: 0;
                    }
                    dl,
                    ol,
                    ul{
                        text-align: left;
                    }
                }
            }
        }
        .links-servicios{
            padding: 20px 10px;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 10px auto auto auto;
            p{
                width: 100%;
                text-align: center;
                font-weight: bold;
                text-transform: uppercase;
            }
            a{
                color: inherit;
                flex-grow: 1;
                box-sizing: border-box;
                border-radius: 5px;
                margin: 10px;
                text-transform: uppercase;
                padding: 10px 30px;
                text-align: center;
            }
        }
    }
    @include MQ(M){
        .servicios{
            flex-flow: row;
            .contenedor-menu{
                .menu{
                    display: block;
                    .servicio{
                        opacity: 1;
                        transition: .3s ease all;
                        margin: 10px auto;
                        &.active{
                            font-weight: bold;
                            .numero{
                                font-weight: 800;
                                font-size: .8rem;
                                background: #fff;
                                box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -5px;
                                color: #000;
                            }
                        }
                        &:hover{
                            cursor: pointer;
                            font-weight: bold;
                            transition: .3s ease all;
                            .numero{
                                color: inherit;
                                font-weight: bold;
                                background: rgba($color: #fff, $alpha: .4);
                            }
                        }
                        .numero-menu{
                            border-radius: 50%;
                            height: 40px;
                            width: 40px;
                            transition: 0.3s ease-in all;
                            padding: 4px;
                            box-sizing: border-box;
                            vertical-align: center;
                            font-size: 0.7rem;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            margin: 0;
                            line-height: 1.8rem;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: inherit;
                    }
                }
            }
            .contenedor-servicios{
                section{
                    .contenido-seccion{
                        dl,
                        ol,
                        ul{
                          list-style: inside;  
                          text-align: center;
                        }
                    }
                }
            }
            .seccion-1{
                .contenido-seccion{
                    overflow: hidden;
                    background-color: red;
                    .titulo-detalle{
                        // h1{
                        //     font-size: 2em;
                        //     line-height: 1em;
                        //     letter-spacing: 2px;
                        //     text-transform: uppercase;
                        //     font-weight: bolder; 
                        // }
                        p{
                            margin:0 auto 1rem 0;
                        }
                    }
                    .contenedor-fotos{
                        .img{
                            &-horizontal{
                                width: 63%;
                                z-index: 2;
                                max-width: inherit;
                                position: relative;
                                border-radius: 10px 10px 0 0;

                                @media only screen and (max-width: 600px) {
                                    object-fit: contain;
                                }
                            }
                            &-vertical{
                                position: absolute;
                                //width: 60%;
                                width: 36%;
                                //left: 50%;
                                left: 56%;
                                bottom: 20px;
                                max-height: 850px;
                                object-fit: contain;
                                object-position: left top;
                            }
                        }
                        img{
                            object-fit: cover;
                        }
                    }
                }
            }
            .seccion-2{
                .contenido-seccion{
                    padding: 10px;
                    box-sizing: border-box;
                }
            }
            .seccion-3{
                .contenido-seccion{
                    .contenedor-imagen{
                        width: 100%;
                        text-align: center;
                        img{
                            margin: auto;
                        }
                    }
                }
            }
        }
    }
}