@charset "UTF-8";
/*!
 * b4st v3.0 | Unicence
 * http://simonpadbury.github.io/Codebase/
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");
html {
  scroll-behavior: smooth; }

.destacar {
  border: 1px solid red !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important; }

.no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden; }

.esconde-menu {
  margin-right: -100% !important;
  left: 100vw !important;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }

.vh-100 {
  height: 100vh;
  min-height: 500px; }

.sombra-foto {
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 10px 10px 2px; }

.btn-rocket {
  background: url("../img/fondo-btn.jpg");
  background-position: right;
  background-size: 200% 100%;
  color: #ffffff !important;
  border: none;
  border-radius: 3em;
  padding: 10px;
  cursor: pointer;
  outline: none;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all; }
  .btn-rocket:active, .btn-rocket :focus, .btn-rocket :visited {
    outline: none !important;
    border: none !important;
    border-style: none !important;
    text-decoration: none !important; }
  .btn-rocket:hover {
    color: #ffffff; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #ffffff;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #2d2b8b inset;
  box-shadow: 0 0 0px 1000px #2d2b8b inset;
  background: transparent !important;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  -o-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s; }

#site-navbar {
  position: absolute;
  z-index: 10; }
  #site-navbar .container-fluid .navbar-brand img {
    height: 80px;
    max-width: 100px;
    -o-object-fit: contain;
    object-fit: contain; }

.text-white.accion-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  cursor: pointer;
  font-size: 3em !important;
  z-index: 2; }

.menu-custom {
  z-index: 11;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  overflow-y: auto;
  left: 0;
  margin-right: 0px;
  position: fixed;
  background: #2322a5;
  -webkit-transition: .3s ease all;
  -o-transition: .3s ease all;
  transition: .3s ease all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse; }
  @media screen and (min-width: 1024px) {
    .menu-custom {
      -ms-flex-flow: wrap;
      flex-flow: wrap; } }
  .menu-custom p, .menu-custom a, .menu-custom ul, .menu-custom li {
    color: #ffffff;
    list-style: none;
    margin: 0;
    text-decoration: none; }
  .menu-custom .contacto-menu {
    background: url("../img/fondo-menu-original.png") top left/cover no-repeat;
    background-blend-mode: darken;
    height: auto; }
    .menu-custom .contacto-menu .seccion-datos {
      font-size: 1.5em;
      width: 80%; }
      .menu-custom .contacto-menu .seccion-datos .titulo-contacto {
        -webkit-filter: opacity(60%);
        filter: opacity(60%);
        font-size: .8em;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: bolder; }
      .menu-custom .contacto-menu .seccion-datos .datos, .menu-custom .contacto-menu .seccion-datos .mail-contacto {
        -webkit-filter: opacity(60%);
        filter: opacity(60%); }
  .menu-custom .opciones-menu {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    padding: 60px 0; }
    @media screen and (min-width: 1024px) {
      .menu-custom .opciones-menu {
        font-size: 3em;
        text-align: left;
        padding: 0 0 0 20%; } }
    .menu-custom .opciones-menu a {
      width: 100%;
      -webkit-transition: .3s ease all;
      -o-transition: .3s ease all;
      transition: .3s ease all;
      padding: 0 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .menu-custom .opciones-menu a:hover {
        background: rgba(255, 255, 255, 0.3); }

body {
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1rem;
  color: #fff;
  background: #2d2b8b; }
  body .subtitulo {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0; }
  body .btn-rocket {
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transition: .8s ease all;
    -o-transition: .8s ease all;
    transition: .8s ease all; }
    body .btn-rocket:hover {
      background-position: left;
      -webkit-transition: .3s ease all;
      -o-transition: .3s ease all;
      transition: .3s ease all; }
    body .btn-rocket p {
      margin: 0 0 0 auto; }
    body .btn-rocket i {
      margin: 0 auto 0 10px;
      line-height: inherit; }
  body .owl-theme .owl-dots .owl-dot {
    outline: none; }
  body .owl-theme .owl-nav button {
    outline: none; }
  body .bg-morado {
    background: #2d2b8b; }
  body .bg-primario {
    background: #302F87; }
  body .btn-ver-mas {
    background: url("../img/fondo-btn.jpg");
    background-position: right;
    color: #fff;
    border-radius: 33.333rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .2rem;
    margin: 0 auto auto 0;
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all; }
    body .btn-ver-mas:hover {
      text-decoration: none;
      background-position: left; }

.index {
  overflow-x: hidden; }
  .index .intro {
    background: url("../img/logo-animado.gif") center center/cover no-repeat, url("../img/estrellas.png") fixed top/cover no-repeat;
    background-blend-mode: hard-light; }
  .index .titulo {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem; }
  .index #servicios {
    min-height: 100vh;
    background: #2d2b8b; }
    .index #servicios .owl-stage-outer {
      overflow: visible; }
      .index #servicios .owl-stage-outer .owl-stage .owl-item {
        -webkit-transition: .6s ease all;
        -o-transition: .6s ease all;
        transition: .6s ease all; }
      .index #servicios .owl-stage-outer .owl-stage .active {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
        box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
        z-index: 100;
        border-radius: 15px; }
        .index #servicios .owl-stage-outer .owl-stage .active .card-servicios {
          overflow: visible; }
          .index #servicios .owl-stage-outer .owl-stage .active .card-servicios img {
            max-width: 1000px;
            -o-object-fit: contain;
            object-fit: contain;
            border-radius: 10px 10px 0 0;
            position: relative; }
    .index #servicios .owl-dots {
      position: absolute;
      top: -40px;
      margin: 0 auto;
      width: 100%; }
    .index #servicios .titulo {
      font-weight: bold;
      font-size: 3em;
      letter-spacing: .1rem;
      padding: 0 10px;
      line-height: 3rem;
      margin: 0 auto 10px auto; }
    .index #servicios .card-servicios {
      background: #2d2b8b;
      border-radius: 15px;
      overflow-y: hidden;
      padding: 0 0 15px 0; }
      .index #servicios .card-servicios img {
        height: 200px;
        -o-object-fit: cover;
        object-fit: cover;
        background: #fff;
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all; }
      .index #servicios .card-servicios h3,
      .index #servicios .card-servicios p {
        padding: 0 20px;
        text-align: center; }
      .index #servicios .card-servicios .titulo {
        font-size: 1em;
        font-weight: bolder;
        letter-spacing: .1rem;
        line-height: normal; }
      .index #servicios .card-servicios p {
        font-weight: lighter;
        letter-spacing: .1rem;
        line-height: normal; }
      .index #servicios .card-servicios a {
        background: #ffffff;
        color: #2d2b8b;
        width: 50%;
        margin: auto;
        font-weight: bold;
        text-transform: uppercase; }
    @media screen and (min-width: 768px) {
      .index #servicios .owl-stage-outer {
        overflow: hidden;
        height: 100% !important; }
        .index #servicios .owl-stage-outer .owl-stage {
          height: 100%; }
          .index #servicios .owl-stage-outer .owl-stage .owl-item {
            height: 100%; }
          .index #servicios .owl-stage-outer .owl-stage .active {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-box-shadow: inherit;
            box-shadow: inherit;
            z-index: inherit;
            border-radius: inherit; }
      .index #servicios .owl-dots {
        top: 50%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: -46%; }
      .index #servicios .imagenes img {
        -o-object-fit: contain;
        object-fit: contain;
        height: 540px; }
      .index #servicios .imagenes .recibe-imagen-1 {
        width: 28%; }
      .index #servicios .imagenes .recibe-imagen-2 {
        width: 90%;
        margin: auto 0 auto auto; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    .index #servicios .imagenes .recibe-imagen-2 {
      width: 68%; } }
    @media screen and (min-width: 768px) {
      .index #servicios .numeros-servicios a {
        color: #fff;
        text-decoration: none; }
        .index #servicios .numeros-servicios a .titulo {
          font-size: 1rem;
          line-height: normal;
          text-align: left; }
      .index #servicios .numeros-servicios .servicio {
        opacity: 1;
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
        margin: 10px auto; }
        .index #servicios .numeros-servicios .servicio .numero {
          border: 1px solid #ffffff;
          border-radius: 50%;
          height: 40px;
          width: 40px;
          -webkit-transition: .3s ease-in all;
          -o-transition: .3s ease-in all;
          transition: .3s ease-in all;
          padding: 4px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: center;
          font-size: .7rem;
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
        .index #servicios .numeros-servicios .servicio .titulo-numero {
          text-transform: uppercase;
          line-height: normal;
          font-size: .8rem;
          letter-spacing: 0.2em; }
        .index #servicios .numeros-servicios .servicio:hover {
          opacity: 1;
          cursor: pointer;
          -webkit-filter: blur(0px);
          filter: blur(0px); }
          .index #servicios .numeros-servicios .servicio:hover .numero {
            color: #302F87;
            background: #ffffff !important; }
          .index #servicios .numeros-servicios .servicio:hover .titulo-numero {
            font-weight: 700; }
        .index #servicios .numeros-servicios .servicio.active {
          opacity: 1;
          -webkit-filter: blur(0px);
          filter: blur(0px); }
          .index #servicios .numeros-servicios .servicio.active .numero {
            color: #302F87;
            font-weight: 800;
            font-size: .8rem;
            background: #ffffff !important;
            -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -5px;
            box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -5px; }
          .index #servicios .numeros-servicios .servicio.active .titulo-numero {
            font-weight: 700; }
      .index #servicios .detalles-servicios .servicio {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .index #servicios .detalles-servicios .servicio img {
          height: 100%;
          max-height: 600px;
          -o-object-fit: contain;
          object-fit: contain; }
        .index #servicios .detalles-servicios .servicio .textos .titulo {
          width: 100%;
          text-align: left;
          font-size: 1.4rem;
          text-transform: uppercase;
          font-weight: bolder;
          color: inherit;
          text-decoration: none;
          padding: 0px;
          line-height: 1.5rem;
          letter-spacing: 0.2em;
          margin: 0; }
        .index #servicios .detalles-servicios .servicio .textos p {
          margin: 20px auto;
          font-weight: lighter; }
          .index #servicios .detalles-servicios .servicio .textos p strong {
            font-weight: bold; }
      .index #servicios .detalles-servicios .owl-dots .owl-dot span {
        background: transparent;
        border: 1px solid #fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: .8s ease all;
        -o-transition: .8s ease all;
        transition: .8s ease all;
        -webkit-transition-delay: .3s;
        -o-transition-delay: .3s;
        transition-delay: .3s; }
      .index #servicios .detalles-servicios .owl-dots .active span {
        -webkit-transition: .8s ease all;
        -o-transition: .8s ease all;
        transition: .8s ease all;
        background: #fff; } }
  .index #casos-de-exito {
    background: #ffffff;
    color: #000;
    pointer-events: none; }
    .index #casos-de-exito .titulo-casos p {
      width: 100%;
      margin: 0;
      font-size: 3em;
      font-weight: 800;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: normal;
      line-height: 1em; }
      @media screen and (min-width: 768px) {
        .index #casos-de-exito .titulo-casos p {
          text-align: left;
          width: 60%;
          margin: auto auto auto 0; } }
    .index #casos-de-exito .computador {
      background: url("../img/mac-pro.png") center center/90% no-repeat;
      height: calc(100vw / 1.2); }
      .index #casos-de-exito .computador .pantalla {
        position: absolute;
        top: calc(110vw / 10);
        height: calc(91.5vw / 2);
        width: 79vw; }
        .index #casos-de-exito .computador .pantalla .owl-item {
          height: calc(92vw / 2); }
        .index #casos-de-exito .computador .pantalla .owl-nav {
          position: absolute;
          pointer-events: all;
          top: 40%;
          left: -2.3%;
          width: 100%; }
          @media only screen and (max-width: 600px) {
            .index #casos-de-exito .computador .pantalla .owl-nav {
              top: 37%;
              left: -0.3%; } }
          .index #casos-de-exito .computador .pantalla .owl-nav button {
            height: 20px;
            width: 20px;
            color: #000;
            border-radius: 0;
            padding: 5px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            /* CASOS DE ÉXITO */
            /* Estilo de las flechas owl carrusel */ }
            .index #casos-de-exito .computador .pantalla .owl-nav button:hover {
              background-color: transparent; }
            .index #casos-de-exito .computador .pantalla .owl-nav button span {
              text-align: center;
              line-height: .1rem;
              font-size: 4.7rem; }
              .index #casos-de-exito .computador .pantalla .owl-nav button span:hover {
                color: aqua; }
            .index #casos-de-exito .computador .pantalla .owl-nav button svg {
              width: 45px;
              height: auto;
              cursor: pointer;
              overflow: visible; }
              @media only screen and (max-width: 600px) {
                .index #casos-de-exito .computador .pantalla .owl-nav button svg {
                  width: 25px; } }
              .index #casos-de-exito .computador .pantalla .owl-nav button svg polygon,
              .index #casos-de-exito .computador .pantalla .owl-nav button svg path {
                -webkit-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
                -o-transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
                transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1); }
              .index #casos-de-exito .computador .pantalla .owl-nav button svg:hover polygon,
              .index #casos-de-exito .computador .pantalla .owl-nav button svg:hover path {
                -webkit-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
                -o-transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
                transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
                fill: #00ffff; }
              .index #casos-de-exito .computador .pantalla .owl-nav button svg:hover .arrow {
                -webkit-animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
                animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; }
              .index #casos-de-exito .computador .pantalla .owl-nav button svg:hover .arrow-fixed {
                -webkit-animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
                animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite; }

@-webkit-keyframes arrow-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  5% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  100% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
    opacity: 0; } }

@keyframes arrow-anim {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  5% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  100% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
    opacity: 0; } }

@-webkit-keyframes arrow-fixed-anim {
  5% {
    opacity: 0; }
  20% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0; }
  20% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }
          .index #casos-de-exito .computador .pantalla .owl-nav .owl-prev {
            left: -13%; }
            @media only screen and (max-width: 600px) {
              .index #casos-de-exito .computador .pantalla .owl-nav .owl-prev {
                left: -15%; } }
          .index #casos-de-exito .computador .pantalla .owl-nav .owl-next {
            right: -13%; }
            @media only screen and (max-width: 600px) {
              .index #casos-de-exito .computador .pantalla .owl-nav .owl-next {
                right: -14%; } }
        .index #casos-de-exito .computador .pantalla img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: top;
          object-position: top; }
      @media screen and (min-width: 768px) {
        .index #casos-de-exito .computador {
          height: calc(100vw / 2.6); }
          .index #casos-de-exito .computador .pantalla {
            position: absolute;
            top: calc(38vw / 10.1);
            height: calc(48.5vw / 2.1);
            width: 38.5vw; }
            .index #casos-de-exito .computador .pantalla .owl-item {
              height: calc(45.9vw / 2); } }
    .index #casos-de-exito .owl-detalle-caso .detalles-casos .nombre-caso {
      font-weight: bold; }
    .index #casos-de-exito .owl-detalle-caso .detalles-casos .servicio-caso {
      width: 100%;
      margin: 5px auto auto auto;
      line-height: 1.3rem;
      text-transform: uppercase; }
    .index #casos-de-exito .owl-detalle-caso .detalles-casos a {
      padding: 0;
      margin: 10px auto auto;
      text-transform: uppercase;
      font-weight: bold;
      color: #000;
      pointer-events: all; }
    .index #casos-de-exito .owl-detalle-texto {
      pointer-events: none; }
      .index #casos-de-exito .owl-detalle-texto .contenedor-detalle {
        text-align: center; }
        .index #casos-de-exito .owl-detalle-texto .contenedor-detalle p {
          margin: 10px auto 40px; }
        .index #casos-de-exito .owl-detalle-texto .contenedor-detalle a {
          pointer-events: all; }
  .index #clientes {
    background: #2d2b8b;
    /*  pointer-events: none;*/ }
    .index #clientes .titulo {
      color: #ffffff;
      font-weight: bolder;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 80px; }
    .index #clientes .owl-theme {
      margin: 20px auto; }
      .index #clientes .owl-theme .owl-item {
        width: 18%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0.5em;
        padding: 0.5em; }
        .index #clientes .owl-theme .owl-item:hover:after {
          content: "";
          height: 70px;
          width: 70px;
          background: url("../img/fondo-btn.jpg");
          background-position: right;
          border-radius: 50%;
          position: absolute;
          -o-transition: all 0.10s ease .6s;
          transition: all 0.10s ease .6s;
          -webkit-transition: all 0.10s ease .6s;
          z-index: 1;
          -webkit-animation-name: scale;
          animation-name: scale;
          -webkit-animation-duration: .3s;
          animation-duration: .3s; }

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3); }
  to {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }

@keyframes scale {
  from {
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3); }
  to {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5); } }
      @media screen and (min-width: 768px) {
        .index #clientes .owl-theme {
          margin: 100px auto; } }
      .index #clientes .owl-theme img {
        -o-object-fit: contain;
        object-fit: contain;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        position: relative;
        z-index: 2; }
        .index #clientes .owl-theme img:hover {
          -webkit-transform: scale(1.2, 1.2) !important;
          -ms-transform: scale(1.2, 1.2) !important;
          transform: scale(1.2, 1.2) !important; }
  .index #contacto {
    background: #2d2b8b; }
    .index #contacto .titulo {
      color: #ffffff;
      text-transform: uppercase; }
    .index #contacto .llamanos .subtitulo,
    .index #contacto .escribenos .subtitulo {
      font-size: 1.2em;
      font-weight: bold; }
    .index #contacto .llamanos a,
    .index #contacto .escribenos a {
      color: #ffffff;
      text-decoration: underline; }
    .index #contacto #formulario-contacto {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .index #contacto #formulario-contacto .wpcf7-form-control-wrap input:focus,
      .index #contacto #formulario-contacto .wpcf7-form-control-wrap textarea:focus {
        background-color: #fff !important; }
      .index #contacto #formulario-contacto .wpcf7 {
        width: 100%; }
        .index #contacto #formulario-contacto .wpcf7 input,
        .index #contacto #formulario-contacto .wpcf7 textarea {
          background: transparent;
          border-radius: 0;
          border: none;
          border-bottom: 1px solid;
          border-image-source: linear-gradient(90deg, #00ecff 0%, #fffc00 42%, red 100%);
          border-image-slice: 1;
          margin: 20px auto auto auto;
          max-width: 100%;
          padding: 5px 10px;
          resize: none;
          color: #000;
          -webkit-transition: .3s ease all;
          -o-transition: .3s ease all;
          transition: .3s ease all; }
          .index #contacto #formulario-contacto .wpcf7 input::-webkit-input-placeholder,
          .index #contacto #formulario-contacto .wpcf7 textarea::-webkit-input-placeholder {
            color: #fff;
            opacity: .6;
            position: absolute;
            top: -40px; }
          .index #contacto #formulario-contacto .wpcf7 input:-ms-input-placeholder,
          .index #contacto #formulario-contacto .wpcf7 textarea:-ms-input-placeholder {
            color: #fff;
            opacity: .6;
            position: absolute;
            top: -40px; }
          .index #contacto #formulario-contacto .wpcf7 input::-ms-input-placeholder,
          .index #contacto #formulario-contacto .wpcf7 textarea::-ms-input-placeholder {
            color: #fff;
            opacity: .6;
            position: absolute;
            top: -40px; }
          .index #contacto #formulario-contacto .wpcf7 input::placeholder,
          .index #contacto #formulario-contacto .wpcf7 textarea::placeholder {
            color: #fff;
            opacity: .6;
            position: absolute;
            top: -40px; }
          .index #contacto #formulario-contacto .wpcf7 input:focus,
          .index #contacto #formulario-contacto .wpcf7 textarea:focus {
            background: rgba(45, 43, 139, 0.4);
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            background: rgba(255, 255, 255, 0.1); }
            .index #contacto #formulario-contacto .wpcf7 input:focus ::-webkit-input-placeholder,
            .index #contacto #formulario-contacto .wpcf7 textarea:focus ::-webkit-input-placeholder {
              position: absolute;
              top: -30px; }
            .index #contacto #formulario-contacto .wpcf7 input:focus :-ms-input-placeholder,
            .index #contacto #formulario-contacto .wpcf7 textarea:focus :-ms-input-placeholder {
              position: absolute;
              top: -30px; }
            .index #contacto #formulario-contacto .wpcf7 input:focus ::-ms-input-placeholder,
            .index #contacto #formulario-contacto .wpcf7 textarea:focus ::-ms-input-placeholder {
              position: absolute;
              top: -30px; }
            .index #contacto #formulario-contacto .wpcf7 input:focus ::placeholder,
            .index #contacto #formulario-contacto .wpcf7 textarea:focus ::placeholder {
              position: absolute;
              top: -30px; }
          .index #contacto #formulario-contacto .wpcf7 input:hover,
          .index #contacto #formulario-contacto .wpcf7 textarea:hover {
            background: rgba(255, 255, 255, 0.1); }
        .index #contacto #formulario-contacto .wpcf7 p,
        .index #contacto #formulario-contacto .wpcf7 span {
          margin: 0;
          text-align: center; }
        .index #contacto #formulario-contacto .wpcf7 textarea {
          height: 35px; }
          .index #contacto #formulario-contacto .wpcf7 textarea:focus {
            height: 200px; }
        .index #contacto #formulario-contacto .wpcf7 form .wpcf7-response-output {
          border: 5px solid #302F87;
          background: rgba(45, 43, 139, 0.3);
          -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px -5px;
          box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px -5px;
          color: #fff;
          padding: 10px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          text-align: center;
          font-size: 1em; }
        .index #contacto #formulario-contacto .wpcf7 form .wpcf7-not-valid-tip {
          color: #fff; }
        .index #contacto #formulario-contacto .wpcf7 form .btn {
          background: url("../img/fondo-btn.jpg");
          background-position: right;
          color: #fff;
          width: 15%;
          min-width: 180px;
          border: none;
          border-radius: 33.333rem;
          font-weight: bold;
          text-transform: uppercase;
          -webkit-transition: .3s ease all;
          -o-transition: .3s ease all;
          transition: .3s ease all; }
          .index #contacto #formulario-contacto .wpcf7 form .btn:hover {
            text-decoration: none;
            background-position: left; }
      @media screen and (min-width: 768px) {
        .index #contacto #formulario-contacto {
          padding: 0; }
          .index #contacto #formulario-contacto .formulario-contacto {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: wrap;
            flex-flow: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .index #contacto #formulario-contacto .formulario-contacto p,
            .index #contacto #formulario-contacto .formulario-contacto span {
              width: 100%; }
            .index #contacto #formulario-contacto .formulario-contacto .wpcf7-not-valid-tip {
              width: 100%; }
            .index #contacto #formulario-contacto .formulario-contacto p:first-of-type {
              display: none; } }

@-webkit-keyframes levantar {
  0% {
    -webkit-transform: scale(1) rotateX(60deg);
    transform: scale(1) rotateX(60deg); }
  100% {
    -webkit-transform: scale(1.04) rotateX(0deg);
    transform: scale(1.04) rotateX(0deg); } }

@keyframes levantar {
  0% {
    -webkit-transform: scale(1) rotateX(60deg);
    transform: scale(1) rotateX(60deg); }
  100% {
    -webkit-transform: scale(1.04) rotateX(0deg);
    transform: scale(1.04) rotateX(0deg); } }

.single-servicios .servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding: 90px 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .single-servicios .servicios .contenedor-menu {
    width: 30vw;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .single-servicios .servicios .contenedor-menu .menu {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 10;
      display: none; }
  .single-servicios .servicios .contenedor-servicios {
    left: 0;
    position: relative;
    width: 100vw;
    left: 0;
    margin-left: -30%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .single-servicios .servicios .contenedor-servicios section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      .single-servicios .servicios .contenedor-servicios section .contenido-seccion {
        width: 90vw;
        margin: auto; }
        @media screen and (min-width: 768px) {
          .single-servicios .servicios .contenedor-servicios section .contenido-seccion {
            width: 70vw;
            margin: 0; } }
        .single-servicios .servicios .contenedor-servicios section .contenido-seccion dl,
        .single-servicios .servicios .contenedor-servicios section .contenido-seccion ol,
        .single-servicios .servicios .contenedor-servicios section .contenido-seccion ul {
          text-align: left; }
  .single-servicios .servicios .links-servicios {
    padding: 20px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px auto auto auto; }
    .single-servicios .servicios .links-servicios p {
      width: 100%;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase; }
    .single-servicios .servicios .links-servicios a {
      color: inherit;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border-radius: 5px;
      margin: 10px;
      text-transform: uppercase;
      padding: 10px 30px;
      text-align: center; }

@media screen and (min-width: 768px) {
  .single-servicios .servicios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row; }
    .single-servicios .servicios .contenedor-menu .menu {
      display: block; }
      .single-servicios .servicios .contenedor-menu .menu .servicio {
        opacity: 1;
        -webkit-transition: .3s ease all;
        -o-transition: .3s ease all;
        transition: .3s ease all;
        margin: 10px auto; }
        .single-servicios .servicios .contenedor-menu .menu .servicio.active {
          font-weight: bold; }
          .single-servicios .servicios .contenedor-menu .menu .servicio.active .numero {
            font-weight: 800;
            font-size: .8rem;
            background: #fff;
            -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -5px;
            box-shadow: rgba(0, 0, 0, 0.6) 0px 10px 10px -5px;
            color: #000; }
        .single-servicios .servicios .contenedor-menu .menu .servicio:hover {
          cursor: pointer;
          font-weight: bold;
          -webkit-transition: .3s ease all;
          -o-transition: .3s ease all;
          transition: .3s ease all; }
          .single-servicios .servicios .contenedor-menu .menu .servicio:hover .numero {
            color: inherit;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.4); }
        .single-servicios .servicios .contenedor-menu .menu .servicio .numero-menu {
          border-radius: 50%;
          height: 40px;
          width: 40px;
          -webkit-transition: 0.3s ease-in all;
          -o-transition: 0.3s ease-in all;
          transition: 0.3s ease-in all;
          padding: 4px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          vertical-align: center;
          font-size: 0.7rem;
          text-align: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin: 0;
          line-height: 1.8rem; }
      .single-servicios .servicios .contenedor-menu .menu a {
        text-decoration: none;
        color: inherit; }
    .single-servicios .servicios .contenedor-servicios section .contenido-seccion dl,
    .single-servicios .servicios .contenedor-servicios section .contenido-seccion ol,
    .single-servicios .servicios .contenedor-servicios section .contenido-seccion ul {
      list-style: inside;
      text-align: center; }
    .single-servicios .servicios .seccion-1 .contenido-seccion {
      overflow: hidden; }
      .single-servicios .servicios .seccion-1 .contenido-seccion .titulo-detalle h1 {
        font-size: 2em;
        line-height: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bolder; }
      .single-servicios .servicios .seccion-1 .contenido-seccion .titulo-detalle p {
        margin: 0 auto 1rem 0; }
      .single-servicios .servicios .seccion-1 .contenido-seccion .contenedor-fotos .img-horizontal {
        width: 63%;
        z-index: 2;
        max-width: inherit;
        position: relative;
        border-radius: 10px 10px 0 0; }
      .single-servicios .servicios .seccion-1 .contenido-seccion .contenedor-fotos .img-vertical {
        position: absolute;
        width: 60%;
        left: 50%;
        bottom: 20px;
        max-height: 850px;
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: left top;
        object-position: left top; }
      .single-servicios .servicios .seccion-1 .contenido-seccion .contenedor-fotos img {
        -o-object-fit: cover;
        object-fit: cover; }
    .single-servicios .servicios .seccion-2 .contenido-seccion {
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .single-servicios .servicios .seccion-3 .contenido-seccion .contenedor-imagen {
      width: 100%;
      text-align: center; }
      .single-servicios .servicios .seccion-3 .contenido-seccion .contenedor-imagen img {
        margin: auto; } }

.post-type-archive-casos #site-navbar {
  -webkit-filter: invert(1);
  filter: invert(1); }

.casos {
  min-height: 100vh;
  background: url("../img/estrellas.png") fixed top/cover no-repeat #EAEAEA;
  color: #000; }
  .casos .titulo {
    margin-top: 100px;
    text-transform: uppercase;
    text-decoration: underline; }
  .casos .cabecera {
    margin: 100px auto auto auto; }
    .casos .cabecera img {
      max-width: 870px; }
    .casos .cabecera h1 {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 5px; }
  .casos .columnas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap; }
    .casos .columnas .caso img {
      height: auto;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: top;
      object-position: top;
      z-index: 2; }
    .casos .columnas .caso .textos-single-caso {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      margin: 10px auto;
      width: 100%; }
      .casos .columnas .caso .textos-single-caso .nombre-caso {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .casos .columnas .caso .textos-single-caso .servicio-caso {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .casos .columnas .caso .textos-single-caso .detalles-caso {
        padding: 30px 0px 10px;
        margin: -30px auto auto;
        -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
        transform-origin: bottom;
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; }
        .casos .columnas .caso .textos-single-caso .detalles-caso p {
          margin: 0;
          font-size: 0.9em;
          letter-spacing: 1px; }
      .casos .columnas .caso .textos-single-caso .muestra-detalles {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
    .casos .columnas .caso .muestra-detalles {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: .4rem;
      cursor: pointer; }
    .casos .columnas .caso i {
      -webkit-transition: .3s ease all;
      -o-transition: .3s ease all;
      transition: .3s ease all;
      letter-spacing: normal; }
    .casos .columnas .caso .rotar {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: .3s ease all;
      -o-transition: .3s ease all;
      transition: .3s ease all; }
    .casos .columnas .nombre-caso, .casos .columnas .servicio-caso {
      color: rgba(0, 0, 0, 0.47);
      text-transform: uppercase; }
    .casos .columnas .nombre-caso {
      font-size: 1.2em;
      font-weight: bolder; }
    .casos .columnas .servicio-caso {
      line-height: 1.3em; }
  @media screen and (min-width: 768px) {
    .casos .cabecera p {
      margin: auto auto 3rem; }
    .casos .columnas {
      margin: 20px auto; }
      .casos .columnas .cabecera {
        margin: 1rem auto 5rem; }
      .casos .columnas .caso:nth-child(even) {
        margin-bottom: 40px;
        margin-top: -40px; }
      .casos .columnas .caso img {
        height: auto;
        width: 100%; }
      .casos .columnas .caso .detalles-caso {
        margin: -45px auto auto;
        text-align: start; } }

.ml2 {
  font-size: 0.8em; }

.ml2 .letter {
  display: inline-block;
  line-height: 1em; }

.author-bio,
.comments-wrap {
  margin: 36px auto;
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px; }

.site-header-image {
  display: block;
  margin: auto; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  clear: both;
  display: block; }

/* Author bio */
.author-bio .avatar {
  border: 1px solid #dee2e6;
  border-radius: 50%; }

/* Main content */
/* Sidebar */
/***********************/
/*--------------------------------------------------------------
## Cover
--------------------------------------------------------------*/
.wp-block-cover-text p {
  padding: 1.5em 16px; }

@media screen and (min-width: 768px) {
  .wp-block-cover-text p {
    padding: 1.5em 0; } }

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
  padding: 0 16px; }

@media screen and (min-width: 768px) {
  .entry-header,
  .entry-content {
    font-size: calc(1rem + (1.375 - 1) * ((100vw - 768px) / (1200 - 768)));
    font-weight: 300;
    line-height: inherit; }
  .entry-header h1 {
    font-size: calc(2.5rem + (3.4375 - 2.5) * ((100vw - 768px) / (1200 - 768))); } }

@media screen and (min-width: 1200px) {
  .entry-header,
  .entry-content {
    font-size: 1.375rem; }
  .entry-header h1 {
    font-size: 3.4375rem; } }

.more-link {
  display: block; }

.wp-block-code {
  padding: 0.5em 1em;
  margin: 0 0 1.5rem; }

.entry-content ul:not(.blocks-gallery-grid),
.entry-content ol {
  margin: 0 auto 1.5em auto;
  max-width: 720px;
  list-style-position: outside; }

.entry-content li {
  margin-left: 2.5em; }

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin: 0 auto; }

.entry-content ul ul li,
.entry-content ol ol li,
.entry-content ul ol li,
.entry-content ol ul li {
  margin-left: 0; }

.wp-block-quote {
  margin-left: 16px;
  margin-right: 16px;
  padding: 0; }

.wp-block-quote > * {
  margin-left: 1rem; }

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 36px auto;
  padding: 0; }

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
  font-size: 13px;
  font-size: 0.8125rem; }

@media screen and (min-width: 768px) {
  .wp-block-quote {
    margin: 48px auto; } }

.wp-block-pullquote > p:first-child {
  margin-top: 0; }

.wp-block-pullquote.alignright {
  margin-left: 2rem; }

.wp-block-pullquote.alignleft {
  margin-right: 2rem; }

.entry-content {
  margin: 48px auto;
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px; }

.entry-content > .alignwide,
.wp-block-image.alignwide,
.wp-block-gallery.alignwide {
  width: 100vw;
  max-width: 1100px;
  margin: 1.5em 0 1.5em 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.entry-content > .alignwide > img {
  width: 1100px; }

.entry-content > .alignfull,
.wp-block-image.alignfull,
.wp-block-gallery.alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 1.5em 0 1.5em 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.entry-content > .alignfull > img {
  width: 100vw; }

@media screen and (min-width: 768px) {
  .entry-content > * {
    padding-left: 0px;
    padding-right: 0px; } }

.wp-block-columns {
  padding-right: 1rem;
  padding-left: 1rem; }

.wp-block-separator {
  margin: 3em auto;
  padding: 0; }

.wp-block-group > .wp-block-group__inner-container > * {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }

.wp-block-group > .wp-block-group__inner-container > .alignwide {
  width: 100vw;
  max-width: 1100px;
  margin: 1.5em 0 1.5em 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.wp-block-group > .wp-block-group__inner-container > .alignfull {
  width: 100vw;
  max-width: 100vw;
  margin: 1.5em 0 1.5em 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.wp-block-group.has-background > .wp-block-group__inner-container > :first-child {
  margin-top: 0; }

.wp-block-group.has-background > .wp-block-group__inner-container > .alignfull {
  width: calc( 100% + 60px);
  max-width: calc( 100% + 60px);
  position: relative;
  left: -30px; }

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.wp-block-image img {
  display: block; }

.wp-block-image.alignleft,
.wp-block-image.alignright {
  width: 100%; }

.wp-block-image.alignfull img {
  width: 100vw; }

.wp-block-image .alignleft img,
.wp-block-image .alignright img,
.wp-block-image .alignleft figcaption,
.wp-block-image .alignright figcaption {
  max-width: 100%;
  width: 100%; }

.wp-block-image .alignfull,
.wp-block-gallery.alignfull {
  width: 100vw; }

.wp-block-image .alignright,
.wp-block-image .alignleft,
.wp-block-gallery.alignright,
.wp-block-gallery.alignleft {
  max-width: calc((720px / 2) - 16px); }

.wp-block-image .alignright,
.wp-block-gallery.alignright {
  margin-left: 2rem; }

.wp-block-image .alignleft,
.wp-block-gallery.alignleft {
  margin-right: 2rem; }

.wp-block-embed.type-video > .wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; }

.wp-block-embed.type-video > .wp-block-embed__wrapper > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.wp-block-video video {
  max-width: 720px; }

.wp-block-table {
  overflow-x: auto;
  margin: 1.5rem0; }

.wp-block-table table {
  border-collapse: collapse; }

.wp-block-table td, .wp-block-table th {
  padding: .5em; }

#comments,
#reply-title {
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

.commentlist,
.commentlist ul {
  padding-left: 0; }

.commentlist li {
  padding: 1rem; }

.comment-meta {
  margin-bottom: 1rem; }

.comment > .children {
  margin-top: 1rem;
  margin-right: -0.625rem;
  margin-bottom: -1.625rem; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

#site-footer {
  background-color: #2d2b8b;
  color: #ffffff;
  z-index: 2;
  bottom: 0;
  -webkit-box-shadow: 0px -9px 34px -20px #00000042;
  box-shadow: 0px -9px 34px -20px #00000042; }
  #site-footer a, #site-footer p {
    margin: 0;
    line-height: 1.3em;
    color: inherit;
    text-decoration: none; }
  #site-footer .site-map {
    font-weight: bolder;
    text-transform: uppercase; }
  #site-footer img {
    -o-object-fit: contain;
    object-fit: contain; }
  #site-footer .titulo-footer {
    font-weight: bolder;
    text-transform: uppercase;
    opacity: .47;
    font-size: 1.2em; }
  #site-footer .bloques-footer a {
    -webkit-transition: .4s ease all;
    -o-transition: .4s ease all;
    transition: .4s ease all; }
    #site-footer .bloques-footer a:hover {
      opacity: .6; }
  #site-footer .bloques-footer .redes a :hover {
    font-size: 1.1rem; }

/*# sourceMappingURL=b4st.css.map */